# Project exclude paths
/.gradle/
/kconsumer/build/
/kconsumer/build/classes/java/main/
/kconsumer/build/classes/java/test/
/kproducer/build/
/kproducer/build/classes/java/main/
/kproducer/build/classes/java/test/